*{
    margin:0;
    padding:0;
}

ul{
    margin: 50px;
    text-decoration: none;
    list-style: none;
}

.container{
    text-align: center;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.sidebar{
    background-color: lightblue;
    grid-column: 1/2;
}

.header{
    background-color: white;
    grid-column: 2/3;
}

#searchBar{
    width: 75%;
    border-radius: 5px;
    background-color: lightgrey;
}